$text: #555555;
$blue: #0674ec;
$border: #dcdcdc;

@mixin f500{
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}
@mixin f700{
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}