@import 'vars';
@import 'global';

// start header

.header__top{
  background-color: #eef1f3;
}
.header__top-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.header__btn{
  padding: 4px;
  width: 140px;
  border-radius: 30px;
  text-align: center;
  color: #fff;
}
.header__btn-seller{
  background-color: $blue;
}

.menu{
  height: 80px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.menu__list{
  li{
    display: inline-block;
    & + li{
      margin-left: 30px;
    }
  }
  a{
    color: #333333;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 42px;
    font-weight: 500;
  }
}
.search__inner-form{
  max-width: 360px;
  position: relative;
  input{
    display: block;
    width: 100%;
    border: 1px solid #898f96;
    border-radius: 30px;
    height: 45px;
    font-size: 15px;
    line-height: 30px;
    outline: none;
    padding-left: 25px;
    padding-right: 80px;
    &::placeholder{
      color: #898f96;
    }
  }
  button{
    position: absolute;
    border: none;
    outline: none;
    background-color: $blue;
    border-radius: 30px;
    right: 0;
    top: 0;
    width: 70px;
    height: 45px;
    span{
      color: #fff;
      text-align: center;
    }
  }
}
// end header
// start search

.search{
  background: linear-gradient( 180deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
  min-height: 725px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.search__inner{
  padding-top: 170px;
  text-align: center;
  color: #f3f3f8;
  position: relative;
  &-title{
    margin-bottom: 33px;
    font-size: 60px;
    line-height: 70px;
    span{
      font-weight: 700;
      display: block;
    }
  }
  &-text{
    margin-bottom: 62px;
    font-size: 20px;
    line-height: 30px;
  }
  &-btn{
    .box{
      outline: none;
      border-radius: 30px;
      width: 190px;
      height: 55px;
      border: 1px solid #fff;
      margin-right: 27px;
      cursor: pointer;
      font-size: 16px;
      background-color: transparent;
      color: #fff;
      font-weight: 500;
      &.mixitup-control-active{
        background-color: white;
        color: $blue;
      }
    }
  }
  .search__inner-box{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    min-height: 133px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: -290px;
    transition: all 0.8s;
    transform: translateY(-50%);
    &:hover{
      transform: scale(1.2);
    }
  }
  .search__inner-category{
    display: table;
    width: 800px;
    border: 1px solid $border;
    border-radius: 4px;
    min-height: 54px;
      input{
        display: table-cell;
        padding: 16px 20px;
        width: 70%;
        outline: none;
        border-right: 1px solid $border;
        border-top: none;
        border-bottom: none;
        border-left: none;
      }
      select{
        display: table-cell;
        outline: none;
        padding: 16px 10px;
        width: 30%;
        border: none;
      }
  }
  &-button button{
      background-color: $blue;
      max-width: 222px;
      padding: 0 60px;
      height: 53px;
      border: 1px solid $border;
      border-radius: 4px;
      outline: none;
      color: #fff;
      cursor: pointer;
    }
}

// end search
// start items


.items__inner{
  padding-top: 150px;
  display: flex;
  justify-content: space-between;
  &-item{
    max-width: 360px;
    min-height: 401px;
    text-align: center;
    border-radius: 4px;
    padding: 0 30px;
    margin-bottom: 120px;
    cursor: pointer;
    transition: all .4s;
    &:hover{
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
  }
  &-photo{
    height: 110px;
    margin-top: 45px;
  }
  &-title{
    font-size: 24px;
    color: #000;
    margin-top: 35px;
    margin-bottom: 30px;
  }
  &-text{
    font-size: 16px;
    line-height: 30px;
  }
  
}
// end items

// start product-slider
.product-slider{
  padding: 115px 0;
  background-color: #eff1f5;
}
.slick-arrow.slick-next,
.slick-arrow.slick-prev{
  border-style: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
.slick-next{
  position: absolute;
  top: -122px;
  right: 47px;
}
.slick-prev{
  position: absolute;
  top: -122px;
  right: 99px;
  z-index: 2;
}

.product-slider__title{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  button{
    width: 110px;
    height: 45px;
    background-color: #7347c1;
    border-radius: 30px;
    outline: none;
    border: none;
  }
}

.product-slider__item{
  display: table;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  min-height: 450px;
  &-img{
    display: table-cell;
    width: 555px;
    min-height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: linear-gradient( 180deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
  }
  &-block{
    display: table-cell;
    padding: 50px 50px 0px 50px;
    width: 582px;
    background-color: #fff;
  }
  &-content{
    min-height: 320px;
    border-bottom: 1px solid #ececec;
  }
  &-title{
    font-size: 20px;
    color: #000;
    font-weight: 500;
    margin-bottom: 20px;
  }
  &-author{ 
    position: relative;
    margin-bottom: 25px;
      .avatar{
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../images/content/ellipse.svg);
        display: inline-block;
        margin-right: 8px;
        position: absolute;
      }
      span{
        font-size: 15px;
        line-height: 30px;
        margin-left: 37px;
        color: #000;
      }
    }
    &-element{
      font-size: 15px;
      color: #7347c1;
      margin-left: 20px;
    }
    &-text{
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 30px;
    }
    &-button{
      button{
        font-size: 15px;
        line-height: 30px;
        color: #868c96;
        background-color: #f1f3f6;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 30px;
        padding: 0px 13px;
        & + button{
          margin-left: 5px;
        }
      }
    }
    &-info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 80px;
    }
    &-price{
      font-size: 15px;
      font-weight: 500;
      color: #fff;
      background-color: #0674ec;
      border-radius: 30px;
      padding: 5px 20px;
    }
    &-like{
      margin-right: auto;
      margin-left: 10px;
      font-size: 15px;
      span{
        margin-right: 5px;
        cursor: pointer;
      }
    }
    &-basket{
      color: #0674ec;
      font-size: 15px;
      line-height: 30px;
      span{
        margin-right: 5px;
        cursor: pointer;
      }
    }
}


// end product-slider

// start products

.products{
  background-color: #f6f7fb;
  padding: 115px 0;
}
.products-bg{
 background-color: #eff1f5;
}
.products__title{
  margin-bottom: 25px;
}
.products__choice{
  margin-top: 25px;
  padding: 28px 0 25px 30px;
  background-color: #fff;
  min-height: 90px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}
.products__choice{
  margin-bottom: 50px;
}
.products__choice-btn{
  button{
    padding: 9px 17px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    color: #747b86;
    outline: none;
    cursor: pointer;
    & + button{
      margin-left: 10px;
    }
    &.mixitup-control-active{
      background-color: $blue;
      color: #fff;
    }
  }
}

.products__inner-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products__item{
  max-width: 361px;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  margin-bottom: 30px;

  &-img{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 230px; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: linear-gradient( 180deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
    border-radius: 4px;
    :hover{
      background-color: white;
      color: $blue;
      transition: all .7s;
    }
  }
    button{
      background: transparent;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 30px;
      cursor: pointer;
      font-size: 15px;
      padding: 15px 30px;
      font-weight: 500;
      & + button{
        margin-left: 10px;
      }
    }
  &-content{
    padding: 10px 30px;
    min-height: 233px;
    border-bottom: 1px solid #ececec;
  }
  &-title{
    font-size: 20px;
    color: #000;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  &-author{ 
    position: relative;
    margin-bottom: 25px;
      .avatar{
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../images/content/ellipse.svg);
        display: inline-block;
        margin-right: 8px;
        position: absolute;
      }
      span{
        font-size: 15px;
        line-height: 30px;
        margin-left: 37px;
        color: #000;
      }
    }
    &-element{
      font-size: 15px;
      color: #7347c1;
      margin-left: 20px;
    }
    &-text{
      font-size: 16px;
      line-height: 30px;
    }


    &-info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 60px;
      padding: 10px 30px;
    }
    &-price{
      font-size: 15px;
      font-weight: 500;
      color: #0674ec;
      background-color: #e6f1fd;
      border-radius: 30px;
      padding: 5px 20px;
      
    }
    &-like{
      margin-right: auto;
      margin-left: 10px;
      font-size: 15px;
      span{
        margin-right: 5px;
        cursor: pointer;
      }
    }
    &-basket{
      color: #0674ec;
      font-size: 15px;
      line-height: 30px;
      span{
        margin-right: 5px;
        cursor: pointer;
      }
    }
    
}
 
.products__bottom-btn{
  text-align: center;
  button{
    background: $blue;
    color: #fff;
    margin-top: 45px;
    font-size: 16px;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    // margin-bottom: 120px;
  }
}
 // end products

//  start advantages

.advantages{
  background-color: #212225;
  padding: 95px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item{
    max-width: 200px;
    text-align: center;

  }
}
.advantages__item{
  &-images{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto 40px;
    svg{
       width: 50px;
       height: 50px;
    }
  }
  &-num1{
    color: #feb71d;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 10px;
  }
  &-num2{
    color: #58c9e9;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 10px;
  }
  &-num3{
    color: #77de51;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 10px;
  }
  &-num4{
    color: #ff6a6d;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 10px;
  }
  &-text{
    font-size: 18px;
    line-height: 36px;
  }
}

// end advantages
 
// start choice

.choice{
  padding: 120px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
  }
  &__item{
    max-width: 360px;
    padding: 50px 30px;
    border-radius: 4px;
    // box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
  }
}
.choice__item{
  &-num{
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: 300;
    font-size: 48px;
    opacity: 0.2;
  }
  &-images{
    margin-bottom: 35px;
    svg{
      width: 70px;
      height: 70px;
    }
  }
  &-title{
    font-size: 24px;
    color: #000;
    margin-bottom: 25px;

  }
  &-text{
    font-size: 16px;
    line-height: 30px;
  }
}

// end choice
// start sell

.sell{
  &__inner{
    display: flex;
  }
  &__item{
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 560px;
    background-position: center;
    padding: 95px 100px;
    text-align: center;
    color: #fff;
  }
}
.sell__item{
  &-images{
    margin-bottom: 40px;
  }
  &-title{
    font-size: 36px;
    margin-bottom: 30px;
  }
  &-text{
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 30px;
  }
  &-btn{
    button{
      font-size: 16px;
    }
    .btn-color1{
        color: $blue;
    }
    .btn-color2{
      color: #7347c1;
    }
  }
}

// end sell

// srart reviews

.reviews{
  padding: 120px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    padding: 50px 35px;
    max-width: 550px;
    width: 100%;
    margin-top: 60px;
    transition: 0.5s;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 4px solid $blue;
    margin-bottom: 60px;
    cursor: pointer;
    &:hover{
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
  }
  &__button{
    text-align: center;
    button{
    font-size: 16px;
    background-color: $blue;
    color: #fff;
    }
  }
}

.reviews__item{
  &-block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &-photo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color:#808080;
  }
  &-box{
    padding-top: 7px;
    margin-right: auto;
    margin-left: 15px;
  }
  &-name{
    font-size: 20px;
    color: #000;
    margin-bottom: 10px;
  }
  &-product{
    font-size: 16px;
  }
  &-svg{
    svg{
      width: 60px;
      height: 60px;
    }
  }
  &-text{
    font-size: 16px;
    line-height: 30px;
  }
}






// end reviews
