@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__top{
  background-color: #eef1f3;
}
.header__top-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.header__btn{
  padding: 6px 20px;
  border-radius: 30px;
  text-align: center;
  color: #fff;
}
.header__btn-seller{
  background-color: $blue;
  height: 40px;
}
.header__box{
  display: flex;
  align-items: center;
  &-nick{
    margin-left: 40px;
    display: flex;
    align-items: center;
  }
  &-img{
    width: 50px;
    height: 50px;
    background-color: #7c7979;
    border-radius: 50%;
  }
  &-block{
    margin-left: 22px;
    @include f500;
    a{
      display: block;
    }
  }
  &-name{
    color: #333333;
    font-size: 16px;
    line-height: 22px;
    @include f700;
  }
  &-balans{
    color: $blue;
    font-size: 15px;
    line-height: 22px;
    margin-top: 3px;
  }
}
.header__menu{
  background-color: #fff;
}
.menu{
  position: relative;
  height: 80px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.menu__list{
  li{
    display: inline-block;
    // & + li{
    //   margin-left: 30px;
    // }
  }
  .menu-link{
    color: #333333;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 42px;
    @include f500;
    margin-top: 18px;
  }
}
.search__inner-form{
  max-width: 360px;
  width: 100%;
  position: relative;
  input{
    display: block;
    width: 100%;
    border: 1px solid #d9dfe5;
    border-radius: 30px;
    height: 45px;
    font-size: 15px;
    line-height: 30px;
    outline: none;
    padding-left: 25px;
    padding-right: 80px;
    &::placeholder{
      color: #898f96;
    }
  }
  button{
    position: absolute;
    border: none;
    outline: none;
    background-color: $blue;
    border-radius: 30px;
    right: 0;
    top: 0;
    padding: 15px 30px;
    height: 45px;
    span{
      color: #fff;
      text-align: center;
    }
  }
}

.header__box-shop{
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.header__circle{
  color: #7e8fa1;
  font-size: 20px;
  position: relative;
  span{
    position: absolute;
    min-width: 22px;
    padding: 0px 3px;
    height: 22px;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    line-height: 22px;
    right: -16px;
    top: -14px;
    font-size: 14px;
    @include f500;
  }
}
.notification{
  span{
    background-color: $rose;
  }
}
.message{
  span{
    background-color: $green;
  }
}
.basket{
  span{
    background-color: $blue;
  }
}
.header__box-menu{
  top: 75px;
  right: -7px;
  border-top: 0px solid $blue;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  background-color: #fff;
  position: absolute;
  padding: 0px 30px;
  width: 265px;
  z-index: 2;
  transition: all .5s;
  display: none;
  // height: 0;
  overflow: hidden;
  a{
    font-size: 15px;
    color: #54667a;
    line-height: 44px;
    transition: all .3s;
    width: 100%;
  }
}
.user__box{
  position: relative;
  height: 100px;
  margin-top: 49px;
  &::before{
    content: '\f0d8';
    font-family: 'icomoon';
    position: absolute;
    font-size: 30px;
    color: $blue;
    top: 55px;
    right: 30px;
    display: none;
  }
  &:hover{
    .header__box-menu{
      display: block;
      animation-name: menu1;
      animation-duration: 600ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      @keyframes menu1 {
       0%{
         opacity: 0;
         transform: rotateY(-90deg);
       }
       100%{
         opacity: 1;
         transform: rotateY(0deg);
       }
      }
      // height: auto;
      border-width: 1px;
      padding: 20px;
      overflow: auto;
      a:hover{
        background-color: $blue;
        width: 100%;
      }
    }
    &::before{
      display: block;
    }
  }
}
.circle__menu{
  position: absolute;
  z-index: 2;
  border-top: 0px solid $blue;
  top: 59px;
  right: -42px;
  // height: 0;
  overflow: hidden;
  transition: all .5s;
  display: none;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
}
.basket__box,
.notification__box,
.message__box{
  position: relative;
  height: 100px;
  margin-top: 80px;
  margin-left: 30px;
  &::before{
    content: '\f0d8';
    font-family: 'icomoon';
    position: absolute;
    font-size: 30px;
    color: $blue;
    top: 39px;
    right: 0px;
    display: none;
  }
  &:hover{
    .circle__menu{
      border-width: 1px;
      overflow: auto;
      // height: auto;
      display: block;
      animation-name: menu1;
      animation-duration: 600ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      @keyframes menu1 {
       0%{
         opacity: 0;
         transform: rotateY(-90deg);
       }
       100%{
         opacity: 1;
         transform: rotateY(0deg);
       }
      }
      // opacity: 1;
    }
    &::before{
      display: block;
    }
  }
}

.circle__item{
  background-color: #fff;
  padding: 24px;
  border: 1px solid #e8ebf0;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.circle__images{
  width: 80px;
  height: 70px;
  background-color: #828282;
  margin-right: 15px;
  cursor: pointer;
}
.circle__info{
  width: 190px;
  &-title{
    font-size: 16px;
    @include f500;
    color: #000;
    line-height: 20px;
    margin-bottom: 10px;
  }
  &-plugin{
    color: #7347c1;
    font-size: 15px;
    padding-left: 22px;
    position: relative;
    &::before{
      content: '\f19a';
      position: absolute;
      left: 0;
      font-family: 'icomoon';

    }
  }
}
.circle__sell{
  display: flex;
  flex-direction: column;
  align-items: center;
  &-delete{
   color: #818c98;
   font-size: 17px;
   width: 30px;
   height: 30px;
   background-color: #f0ebf8;
   border-radius: 50%;
   text-align: center;
   margin-bottom: 10px;
  }
  &-price{
    a{
    color: $blue; 
    font-size: 16px;  
    border-radius: 30px;
    background-color: #e6f1fd;
    padding: 2px 10px;
    }
  }
}
.icon-trash-o{
  color: #818c98;
}
.basket__summ{
  height: 70px;
  font-size: 18px;
  @include f500;
  background-color: #fff;
  padding: 24px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: #000;
  span{
    margin-left: 25px;
  }
}
.basket__link{
  display: flex;
  a{
    z-index: 1;
  }
}
.basket__btn{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #fefefe;
  background-color: #7347c1;
  height: 60px;
  width: 50%;
  text-align: center;
}
.basket__btn-checkout{
  background-color: $blue;
}
.notification__menu,
.message__menu{
  // height: auto;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  background-color: #fff;
  width: 370px;
  .circle__images{
    width: 40px;
    height: 40px;
    background-color: #3a2c29;
    border-radius: 50%;
    margin-right: 15px;
  }
  .circle__item{
    display: flex;
    justify-content: flex-start;
    margin: 0 25px;
    padding: 15px 0px;
    border: none;
    border-bottom: 1px solid #e8ebf0;
    position: relative;
    &:last-child{
      border-bottom: none;
    }
    &::before{
      position: absolute;
      right: 0;
      font-size: 14px;
      color: $blue;
      background-color: #e6f1fd;
      border-radius: 50%;
      padding: 5px;

    }
  }
  .circle__info{
    width: 215px;
    &-name{
      font-size: 16px;
      @include f500;
      color: #000;
      line-height: 20px;
      span{
        font-weight: 400;
        font-size: 15px;
        color: #747a86;
      }
    }
    &-answer{
      font-size: 15px;
      line-height: 20px;
      color: $blue;
      @include f500;
    }
    &-date{
      font-size: 14px;
      color: #747a86;
      line-height: 15px;
    }
  }
}
.circle__name{
  @include f500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  border-bottom: 1px solid #e8ebf0;
  margin: 0 25px;
  background-color: #fff;
  &-my{
    font-size: 18px;
    color: #3a2c29;
  }
  &-all{
    font-size: 15px;
    color: $blue;
  }
}
.message__menu{
  .circle__info{
    width: 270px;
  }
  .circle__info-block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .circle__info-name{
      padding-right: 30px;
      position: relative;
      &::before{
        content: "\f003";
        position: absolute;
        font-family: 'icomoon';
        right: 0;
        color: $blue;
        font-size: 14px;
        cursor: pointer;

      }
    }
    .circle__info-date{
      color: $blue;
    }
  }
 
  .circle__info-answer{
    font-size: 15px;
    font-weight: 400;
    color: #555555;
  }
}
.home__box,
.all__box,
.wordpress__box,
.festures__box{
  height: 80px;
  position: relative;
  display: inline-block;
  margin-right: 30px;
  &-menu{
    position: absolute;
    top: 80px;
    border-top: 0px solid $blue;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    background-color: #fff;
    padding: 20px 20px;
    width: 270px;
    z-index: 1;
    transition: all .5s;
    display: none;
    // height: 0;
    overflow: hidden;
     li{
      display: flex;
      justify-content: flex-start;
      font-size: 15px;
      color: #54667a;
      line-height: 44px;
      transition: all .3s;
      width: 100%;
      padding: 0px 10px;
    }
  }
  &:hover{
    .home__box-menu,
    .wordpress__box-menu,
    .all__box-menu{
      display: block;
      animation-name: menu1;
      animation-duration: 600ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      @keyframes menu1 {
       0%{
         opacity: 0;
         transform: rotateY(-90deg);
       }
       100%{
         opacity: 1;
         transform: rotateY(0deg);
       }
      }
      // height: auto;
      border-width: 1px;
      // padding: 20px;
      overflow: auto;
      li:hover{
        background-color: $blue;
        width: 100%;
      }
    }
  }
}

.pages__box{
  height: 80px;
  display: inline-block;
  margin-right: 30px;
  &-menu{
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    border-top: 0px solid $blue;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    background-color: #fff;
    padding: 20px 20px;
    width: 1140px;
    z-index: 1;
    transition: all .5s;
    display: none;
    overflow: hidden;
     li{
      display: flex;
      justify-content: flex-start;
      font-size: 15px;
      color: #54667a;
      margin-bottom: 15px;
    }
    a:hover{
      color: $blue;
    }
  }
  &:hover{
    .pages__box-menu{
      display: block;
      animation-name: menu1;
      animation-duration: 600ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      @keyframes menu1 {
       0%{
         opacity: 0;
         transform: rotateY(-90deg);
       }
       100%{
         opacity: 1;
         transform: rotateY(0deg);
       }
      }
      border-width: 1px;
      overflow: auto;
    }
  }

}

.pages__box-block{
  display: flex;
  justify-content: space-between;
}
.pages__box-title{
  font-size: 16px;
  color: #000;
  @include f500;
  line-height: 50px;
  border-bottom: 1px solid #e8ebf0;
  display: flex;
  justify-content: flex-start;
}
.pages__box-text{
  display: flex;
  justify-content: space-between;
  color: #54667a;
  font-size: 15px;
  margin-top: 10px;
}
.item1{
  width: 430px;
}
.item2{
  width: 160px;
}
.item3{
  width: 415px;
}


.header__btn-menu,
.menu__btn{
  display: none;
}

// end header
// start search

.search{
  background: linear-gradient( 180deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
  min-height: 725px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.search__inner{
  padding-top: 170px;
  text-align: center;
  color: #f3f3f8;
  position: relative;
  &-title{
    margin-bottom: 33px;
    font-size: 60px;
    line-height: 70px;
    span{
      @include f700;
      display: block;
    }
  }
  &-text{
    margin-bottom: 62px;
    font-size: 20px;
    line-height: 30px;
  }
  &-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      display: inline-block;
      transition: all .5s;
      &:hover{
        color: $blue;
        background-color: #fff;
      }
    }
    .box{
      outline: none;
      border-radius: 30px;
      width: 190px;
      height: 55px;
      border: 1px solid #fff;
      margin-right: 27px;
      cursor: pointer;
      font-size: 16px;
      background-color: transparent;
      color: #fff;
      @include f500;
      padding: 12px;
    }
  }
  .search__inner-box{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    min-height: 133px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: -290px;
    transition: all 0.8s;
    transform: translateY(-50%);
    &:hover{
      transform: scale(1.2);
    }
  }
  .search__inner-category{
    display: table;
    width: 800px;
    border: 1px solid $border;
    border-radius: 4px;
    min-height: 54px;
      input{
        display: table-cell;
        padding: 16px 20px;
        width: 70%;
        outline: none;
        border-right: 1px solid $border;
        border-top: none;
        border-bottom: none;
        border-left: none;
      }
      select{
        display: table-cell;
        outline: none;
        padding: 16px 10px;
        width: 30%;
        border: none;
      }
  }
  &-button button{
      background-color: $blue;
      max-width: 222px;
      padding: 0 60px;
      height: 53px;
      border: 1px solid $border;
      border-radius: 4px;
      outline: none;
      color: #fff;
      cursor: pointer;
    }
}

// end search
// start items


.items__inner{
  padding-top: 150px;
  display: flex;
  justify-content: space-between;
  &-item{
    max-width: 360px;
    min-height: 401px;
    text-align: center;
    border-radius: 4px;
    padding: 0 30px;
    margin-bottom: 120px;
    cursor: pointer;
    transition: all .4s;
    &:hover{
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
  }
  &-photo{
    height: 110px;
    margin-top: 45px;
  }
  &-title{
    font-size: 24px;
    color: #000;
    margin-top: 35px;
    margin-bottom: 30px;
  }
  &-text{
    font-size: 16px;
    line-height: 30px;
  }
  
}
// end items

// start product-slider
.product-slider{
  padding: 115px 0;
  background-color: #eff1f5;
}
.slick-arrow.slick-next,
.slick-arrow.slick-prev{
  border-style: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
.slick-next{
  position: absolute;
  top: -122px;
  right: 47px;
}
.slick-prev{
  position: absolute;
  top: -122px;
  right: 99px;
  z-index: 2;
}

.product-slider__title{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  button{
    width: 110px;
    height: 45px;
    background-color: #7347c1;
    border-radius: 30px;
    outline: none;
    border: none;
  }
}

.product-slider__item{
  display: table;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  min-height: 450px;
  &-img{
    display: table-cell;
    width: 555px;
    min-height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to left, rgb(13,62,242), rgb(114,33,160));
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  &-block{
    display: table-cell;
    padding: 50px 50px 0px 50px;
    width: 582px;
    background-color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  &-content{
    min-height: 320px;
    border-bottom: 1px solid #ececec;
  }
  &-title{
    font-size: 20px;
    color: #000;
    @include f500;
    margin-bottom: 20px;
  }
  &-author{ 
    position: relative;
    margin-bottom: 25px;
      .avatar{
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../images/content/ellipse.svg);
        display: inline-block;
        margin-right: 8px;
        position: absolute;
      }
      span{
        font-size: 15px;
        line-height: 30px;
        margin-left: 37px;
        color: #000;
      }
    }
    &-element{
      position: relative;
      font-size: 15px;
      color: #7347c1;
      margin-left: 20px;
      padding-left: 30px;
      &::before{
        content: '\f19a';
        position: absolute;
        font-family: 'icomoon';
        left: 0;
        font-size: 16px;
      }
    }
    &-text{
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 30px;
    }
    &-button{
      a{
        font-size: 15px;
        line-height: 30px;
        color: #868c96;
        background-color: #f1f3f6;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 30px;
        padding: 0px 13px;
        & + button{
          margin-left: 5px;
        }
      }
    }
    &-info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 80px;
    }
    &-price{
      font-size: 15px;
      @include f500;
      color: #fff;
      background-color: #0674ec;
      border-radius: 30px;
      padding: 5px 20px;
    }
    &-like{
      margin-right: auto;
      margin-left: 10px;
      font-size: 15px;
      span{
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
        color: #7347c1;
      }
    }
    &-basket{
      color: #0674ec;
      font-size: 15px;
      line-height: 30px;
      span{
        margin-right: 5px;
        cursor: pointer;
      }
    }
}


// end product-slider

// start products

.products{
  background-color: #f6f7fb;
  padding: 115px 0;
}
.products-bg{
 background-color: #eff1f5;
}
.products__title{
  margin-bottom: 25px;
  position: relative;
  .products__filter-box{
    height: 110px;
    float: right;
    padding-right: 30px;
    color: #747b86;
    font-size: 16px;
    position: relative;
    &:hover{
      .products__filter-menu{
        display: block;
      }
    }
    &::before{
      content: '\f142';
      font-family: 'icomoon';
      font-size: 30px;
      cursor: pointer;
      position: absolute;
      color: #747b86;
      right: 0;
    }

  }
}

.products__filter-menu{
  display: none;
  background-color: #fff;
  position: absolute;
  right: -20px;
  top: 55px;
  width: 185px;
  padding: 30px;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  &::before{
    content: '\f0d8';
    font-family: 'icomoon';
    position: absolute;
    font-size: 30px;
    top: -20px;
    right: 15px;
    
  }
  a{
    font-size: 15px;
    color: #747b86;
    &:hover{
      color: $blue;
    }
  }
}
.products__choice{
  margin-top: 25px;
  padding: 28px 0 25px 30px;
  background-color: #fff;
  min-height: 90px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}
.products__choice{
  margin-bottom: 50px;
}
.products__choice-btn{
  button{
    padding: 9px 17px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    color: #747b86;
    outline: none;
    cursor: pointer;
    & + button{
      margin-left: 10px;
    }
    &.mixitup-control-active{
      background-color: $blue;
      color: #fff;
    }
  }
}

.products__inner-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products__item{
  max-width: 361px;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #fff;

  &-img{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 230px; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to left, rgb(13,62,242), rgb(114,33,160));
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    :hover{
      background-color: white;
      color: $blue;
      transition: all .7s;
    }
  }
    button{
      background: transparent;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 30px;
      cursor: pointer;
      font-size: 15px;
      padding: 15px 30px;
      @include f500;
      & + button{
        margin-left: 10px;
      }
    }
  &-content{
    padding: 10px 30px;
    min-height: 233px;
    border-bottom: 1px solid #ececec;
  }
  &-title{
    font-size: 20px;
    color: #000;
    @include f500;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  &-author{ 
    position: relative;
    margin-bottom: 25px;
      .avatar{
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../images/content/ellipse.svg);
        display: inline-block;
        margin-right: 8px;
        position: absolute;
      }
      span{
        font-size: 15px;
        line-height: 30px;
        margin-left: 37px;
        color: #000;
      }
    }
    &-element{
      font-size: 15px;
      color: #7347c1;
      margin-left: 20px;
      padding-left: 20px;
      position: relative;
      &::before{
        content: '\f19a';
        position: absolute;
        font-family: 'icomoon';
        font-size: 16px;
        left: 0;

      }
    }
    .rate-star{
      margin-left: 0;
      top: 2px;
    }
    &-text{
      font-size: 16px;
      line-height: 30px;
    }


    &-info{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      min-height: 60px;
      padding: 10px 30px;
    }
    &-price{
      font-size: 15px;
      @include f500;
      color: #0674ec;
      background-color: #e6f1fd;
      border-radius: 30px;
      padding: 5px 20px;
      
    }
    &-like{
      margin-right: auto;
      margin-left: 10px;
      font-size: 15px;
      span{
        margin-right: 5px;
        cursor: pointer;
        color: #7347c1;
      }
    }
    &-basket{
      color: #0674ec;
      font-size: 15px;
      line-height: 30px;
      span{
        margin-right: 5px;
        cursor: pointer;
      }
    }
    
}
 
.products__bottom-btn{
  text-align: center;
  button{
    background: $blue;
    color: #fff;
    margin-top: 45px;
    font-size: 16px;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    // margin-bottom: 120px;
  }
}
 // end products

//  start advantages

.advantages{
  background-color: #212225;
  padding: 95px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item{
    max-width: 200px;
    text-align: center;

  }
}
.advantages__item{
  &-images{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto 40px;
    svg{
       width: 50px;
       height: 50px;
    }
  }
  &-num1{
    color: #feb71d;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 10px;
  }
  &-num2{
    color: #58c9e9;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 10px;
  }
  &-num3{
    color: #77de51;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 10px;
  }
  &-num4{
    color: #ff6a6d;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 10px;
  }
  &-text{
    font-size: 18px;
    line-height: 36px;
  }
}

// end advantages
 
// start choice

.choice{
  padding: 120px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
  }
  &__item{
    max-width: 360px;
    padding: 50px 30px;
    border-radius: 4px;
    // box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
  }
}
.choice__item{
  &-num{
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: 300;
    font-size: 48px;
    opacity: 0.2;
  }
  &-images{
    margin-bottom: 35px;
    svg{
      width: 70px;
      height: 70px;
    }
  }
  &-title{
    font-size: 24px;
    color: #000;
    margin-bottom: 25px;

  }
  &-text{
    font-size: 16px;
    line-height: 30px;
  }
}

// end choice
// start sell

.sell{
  &__inner{
    display: flex;
  }
  &__item{
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 560px;
    background-position: center;
    padding: 95px 100px;
    text-align: center;
    color: #fff;
  }
}
.sell__item{
  &-images{
    margin-bottom: 40px;
  }
  &-title{
    font-size: 36px;
    margin-bottom: 30px;
  }
  &-text{
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 30px;
  }
  &-btn{
    a{
      padding: 15px 25px;
      border-radius: 30px;
      cursor: pointer;
      outline: none;
      border: none;
      font-size: 16px;
      background-color: #fff;
      transition: all .5s;
      
    }
    .btn-color1{
        color: $blue;
        &:hover{
          background-color: $blue;
          color: #fff;
        }
    }
    .btn-color2{
      color: #7347c1;
      &:hover{
        background-color: #7347c1;
        color: #fff;
      }
    }
  }
}

// end sell

// srart reviews

.reviews{
  padding: 120px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    padding: 50px 35px;
    max-width: 550px;
    width: 100%;
    margin-top: 60px;
    transition: 0.5s;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 4px solid $blue;
    margin-bottom: 60px;
    cursor: pointer;
    &:hover{
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
  }
  &__button{
    text-align: center;
    a{
    font-size: 16px;
    background-color: $blue;
    color: #fff;
    padding: 15px 25px;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    border: none;
    }
  }
}

.reviews__item{
  &-block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &-photo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color:#808080;
  }
  &-box{
    padding-top: 7px;
    margin-right: auto;
    margin-left: 15px;
  }
  &-name{
    font-size: 20px;
    color: #000;
    margin-bottom: 10px;
  }
  &-product{
    font-size: 16px;
  }
  &-svg{
    svg{
      width: 60px;
      height: 60px;
    }
  }
  &-text{
    font-size: 16px;
    line-height: 30px;
  }
}

// end reviews

// start news

.news{
  background-color: #eff1f5;
  padding: 120px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item{
    margin-top: 60px;
    max-width: 360px;
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
}
.news__item{
  &-photo{
      background-color: #7385cd;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 230px;
      width: 100%;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      display: block;
  }
  &-block{
    padding: 30px;
    border-bottom: 1px solid #ececec;
    background-color: #fff;
  }
  &-title{
    font-size: 22px;
    color: #000;
    margin-bottom: 20px;
  }
  &-text{
    font-size: 16px;
    line-height: 30px;
  }
  &-bottom{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
  }
  &-date{
    width: 50%;
    font-size: 15px;
    line-height: 30px;
    color: #999999;
    border-right: 1px solid #ececec;
    span{
      color: $blue;
    }
  }
  &-box{
    color: #7e7e7e;
    font-size: 15px;
    line-height: 30px;
  }
  &-comments{
    margin-right: 30px;
    span{
      padding-right: 5px;
    }
  }
  &-views{
    span{
      padding-right: 5px;
    }
  }
}

// end news

// start guarantee

.guarantee{
  &__inner{
    display: flex;
    min-height: 300px;
  }
  &__item{
    width: 50%;
    padding: 60px 0;
    text-align: center;
    &:first-child{
      border-right: 1px solid #ececec;
    }
  }
}
.guarantee__item{
  &-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 120px;
    margin: 0 auto;
  }
  &-title{
    font-size: 24px;
    color: #000;
    margin-top: 30px;
   
    span{
      color: $blue;
    }
  }
}

// end guarantee

// start ready

.ready{
  background-image: linear-gradient(to left, rgb(13,62,242), rgb(114,33,160));
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &.ready-page{
    min-height: 280px;
    .ready__inner{
    padding: 90px 0 30px;
    .ready__text{
      font-size: 26px;
      margin-bottom: 30px;
    }
    button{
      background-color: $blue;
      color: #fff;
    }
    .search__inner-form{
      max-width: 560px;
      margin: 0 auto;
      margin-bottom: 30px;
      input{
        padding-right: 125px;
      }
    }
    
    }
    
  }
  &__inner{
    text-align: center;
    color: #fff;
    padding: 105px 0;
  }
  &__title{
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 400;
  }
  &__text{
    margin-bottom: 45px;
    font-size: 18px;
  }
  &__link{
    background-color: #fff;
    color: $blue;
    padding: 15px 25px;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: all .5s;
    &:hover{
      color: #fff;
      background-color: $blue;
    }
  }
}
.ready__name{
  color: #fff;
  font-size: 30px;
  @include f500;
  margin-top: 20px;
  line-height: 35px;
}
.ready.ready-page.ready-single{
  min-height: 180px;
  .ready__inner{
    text-align: left;
    padding: 50px 0;
  }
}
// end ready

// start footer
.footer__top{
  background-color: #262b30;
  padding: 110px 0;
}
.footer__inner{
  display: flex;
  justify-content: space-between;
}
.footer__item{
  color: #ababab;
  max-width: 170px;
  width: 100%;
  a{
    color: #ababab;
    font-size: 15px;
  }
  li{
    margin-bottom: 7px;
  }
  &-first{
    max-width: 270px;
    width: 100%;
  }
  &-last{
    max-width: 370px;
    width: 100%;
  }
  &-logo{
    margin-bottom: 30px;
    margin-top: -10px;
    cursor: pointer;
  }
  &-text{
    color: #ababab;
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 25px;
  }
  &-phone{
    margin-bottom: 12px;
    padding-left: 30px;
    position: relative;
    &::before{
      content: '\f095';
      font-family: 'icomoon';
      position: absolute;
      left: 0;
      font-size: 16px;
    }

  }
  &-mail{
    margin-bottom: 12px;
    padding-left: 30px;
    position: relative;
    &::before{
      content: '\f003';
      font-family: 'icomoon';
      position: absolute;
      left: 0;
      font-size: 16px;
    }

  }
  &-adress{
    padding-left: 30px;
    position: relative;
    &::before{
      content: '\f041';
      font-family: 'icomoon';
      position: absolute;
      left: 3px;
      // bottom: 17px;
      font-size: 16px;
    }
  }
  &-title{
    font-size: 18px;
    color: #fff;
    margin-bottom: 40px;
  }
  &-form{
    margin-top: 40px;
    margin-bottom: 50px;
    position: relative;
    input{
      width: 100%;
      border-radius: 30px;
      min-height: 50px;
      padding-left: 30px;
      padding-right: 130px;
      color: #000;
      border: none;
      outline: none;
      &::placeholder{
        color: #ababab;
        font-size: 15px;
      }
    }
  }
  button{
    height: 50px;
    background-color: $blue;
    position: absolute;
    color: #fff;
    right: 0;
    top: 0;
  }
}



.footer__item-img{
  a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    line-height: 42px;
    margin-right: 10px;
  }
  .facebook{
    background-color: #395799;
    position: relative;
    &::before{
      content: '\f09a';
      font-family: 'icomoon';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .twitter{
    background-color: #19b2f5;
    position: relative;
    &::before{
      content: '\f099';
      font-family: 'icomoon';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .pinterest{
    background-color: #f05b44;
    position: relative;
    &::before{
      content: '\f0d2';
      font-family: 'icomoon';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .linkedin{
    background-color: #9c0c1c;
    position: relative;
    &::before{
      content: '\f0e1';
      font-family: 'icomoon';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .dribbble{
    background-color: #0da6be;
    position: relative;
    &::before{
      content: '\f17d';
      font-family: 'icomoon';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .google{
    background-color: #ea4c89;
    position: relative;
    &::before{
      content: '\f1a0';
      font-family: 'icomoon';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}


.footer__bottom{
  background-color: #192027;
  padding: 30px 0;
  &-text{
    text-align: center;
    color: #999999;
    font-size: 15px;
    line-height: 27px;
    span{
      color: #fff;
    }
    a{
      color: #fff;
    }
  }
}

// and footer
// start filters

.filters{
  background-color: #fff;
  margin-bottom: 80px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
  }
  li{
    display: inline-block;
    &:first-child{
      a{
      color: $blue;
    }
    }
    & + li{
      margin-left: 35px;
    }
  }
  a{
    font-size: 16px;
    transition: all .3s;
  }
  &__choice{
    display: flex;
    align-items: center;
    &-price{
      padding: 15px 80px 15px 20px;
      border-radius: 4px;
      border: 1px solid #eceff2;
      margin-right: 30px;
      position: relative;
      span{
        color: #747b86;
      }
      &::after{
        content: "\f107";
        position: absolute;
        font-family: 'icomoon';
        font-size: 18px;
        color: #747b86;
        right: 20px;
        cursor: pointer;
      }
    }
    &-item{
      padding: 15px 80px 15px 20px;
      border-radius: 4px;
      border: 1px solid #eceff2;
      margin-right: 30px;
      position: relative;
      &::after{
        content: "\f107";
        position: absolute;
        font-family: 'icomoon';
        font-size: 18px;
        color: #747b86;
        cursor: pointer;
        right: 20px;
    }
  }
    &-page{
      padding: 15px 20px;
      border-radius: 4px;
      border: 1px solid #eceff2;
      display: flex;
      button{
        cursor: pointer;
        background-color: transparent;
        border: none;
        font-size: 20px;
        color: #747b86;
        outline: none;
        &.active{
          color: $blue;
        }
        & + button{
          margin-left: 12px;
        }
      }
    }
  }
}
.icon-th-large{
  padding: 0;
}
.icon-th-list{
  padding: 0;
}
// end filters
// start category-page

.category-page__inner{
  display: flex;
  justify-content: space-between;
  padding-bottom: 110px;
}
.category-page__aside{
  margin-right: 30px;
}
.aside__item{
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  padding: 0 30px 30px;
  margin-bottom: 30px;
  width: 265px;
}

// form{
//   font-size: 20px;
//   color: #010101;
//   padding-bottom: 25px;
//   position: relative;
//   select{
//     padding: 30px;
//     border: 1px solid #e7ebee;
//     outline: none;
//     width: 265px;
//     position: relative;
//     appearance: none;
//       &::before{
//         content: "\f105";
//         position: absolute;
//         left: 0;
//         top: 8px;
//         font-size: 18px;
//         font-family: 'icomoon';
//         color: #747b86
//       }
//       span{
//         float: right;
//       }
//     }
//   }
//   &::after{
//     content: "\f107";
//     position: absolute;
//     font-family: 'icomoon';
//     font-size: 18px;
//     color: #747b86;
//     pointer-events: none;
//     right: 30px;
//     top: 27px;
// } 
// }
.aside__title{
  border-bottom: 1px solid #e7ebee;
  font-size: 20px;
  color: #010101;
  padding-top: 30px;
  padding-bottom: 25px;
  position: relative;
  &::after{
    content: "\f107";
    position: absolute;
    font-family: 'icomoon';
    font-size: 18px;
    color: #747b86;
    cursor: pointer;
    right: 0px;
}
}
.category__list{
  padding-top: 5px;
  li{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    position: relative;
    font-size: 15px;
    &::before{
      content: "\f105";
      position: absolute;
      left: 0;
      top: 8px;
      font-size: 18px;
      font-family: 'icomoon';
      color: #747b86
    }
  }
  a{
    color: #747b86;
    transition: all .5s;
    &:hover{
      color: $blue;
      width: 100%;
    }
  }
  span{
    color: #747b86;
    font-size: 15px;
    margin-left: 10px;
  }
}
.filter-product{
  padding-top: 5px;
  li{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    position: relative;
    font-size: 15px;
    &::before{
      content: "\f105";
      position: absolute;
      left: 0;
      top: 8px;
      font-size: 18px;
      font-family: 'icomoon';
      color: #747b86
    }
  }
  a{
    color: #747b86;
    transition: all .5s;
    &:hover{
      color: $blue;
      width: 100%;
    }
  }
}
.pricing-range{
  form{
    padding-top: 15px;
  }
  button{
    color: #fff;
    background-color: $blue;
    font-size: 15px;
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    display: block;
    margin: 70px auto 0;
    cursor: pointer;
    outline: none;
    
  }
}

.irs--flat .irs-max, .irs--flat .irs-min{
  display: none;
}

.irs--flat .irs-line {
  top: 25px;
  height: 7px;
  background-color: #efedf3;
  border-radius: 4px;
}
.irs--flat .irs-bar {
  height: 7px;
  background-color: #7347c1;
}
.irs--flat .irs-handle>i:first-child{
  display: none;
}
.irs--flat .irs-handle{
  top: 19px;
  background-color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 4px solid $blue;
}
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to{
  top: 50px;
}
.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before{
  display: none;
}
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
  color: #7347c1;
  font-size: 15px;
  line-height: 1.333;
  text-shadow: none;
  padding: 8px 20px;
  background-color: #f1ecf9;
  border-radius: 30px;
}
.category-page__content{
  max-width: 850px;
  width: 100%;
  .products__item{
    max-width: 260px;
    background-color: #fff;
    transition: all 0.8s;
  }
  .products__item-img{
    min-height: 160px;
    background: #009688;
  }
  .products__item-content{
    padding: 15px 18px 5px 15px;
    min-height: 150px;
  }
  .products__item-title{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    @include f500;
    color: #000;
  }
  .jq-ry-container{
    padding: 0;
  }
  .produkts__item-reba{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .products__item-author{
    margin-bottom: 15px;
  }
  .products__item-info{
    padding: 15px 18px 15px 15px;
  }
  .products__item-price{
    @include f500;
  }
  .products__item-element{
    position: relative;
    padding-left: 20px;
    &::before{
      content: "\f19a";
      position: absolute;
      font-family: 'icomoon';
      left: 0;
    }
  }
}
.category-page__items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.pagination__list{
  width: 360px;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  position: relative;
  &::before{
    content: "\f177";
    position: absolute;
    font-family: 'icomoon';
    font-size: 16px;
    color: #747b86;
    left: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 6px;
    left: 6px;
    cursor: pointer;
    }
  &::after{
    content: "\f178";
    position: absolute;
    font-family: 'icomoon';
    font-size: 16px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 16px;
    top: 5px;
  }
  
  li{
    display: inline-block;
    & + li{
      margin-left: 6px;
    }
  }
  a, span{
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #fff;
    font-size: 16px;
    color: #747b86;
    @include f500;
    &.active{
      background-color: $blue;
      color: #fff;
    }
    &.active2{
      background-color: #7347c1;
      color: #fff;
    }
  }
  .left{
    margin-right: 20px;
  }
  .right{
    margin-left: 20px;
  }
}


.products__item-text2{
  display: none;
}
.category-page__content .products__item-content .products__item-element{
  display: none;
}

.products__item-middle{
  display: none;
}

.category-page__content .products__item-info .products__item-basket{
  display: none;
}


.products__item{
  &.list{
    height: 210px;
    max-width: 100%;
    .products__item-img{
      width: 230px;
      float: left;
      display: block;
      height: 210px;
      border-bottom-left-radius: 4px;
      border-top-right-radius: 0px;
    }

    .products__item-content{
      width: 260px;
      margin: 20px 0 20px 20px;
      padding: 0 20px 0 0;
      border-bottom: none;
      border-right: 1px solid #ececec;
      .products__item-text2{
       display: block;
       font-size: 16px;
       margin-bottom: 16px;
      }
      .products__item-title{
       font-size: 18px;
       @include f500;
       margin-bottom: 12px;

      }
      .products__item-name{
      display: none;
      }
      .produkts__item-reba{
        display: none;
      }
      .products__item-element{
        display: block;
        margin-left: 0;
      }
    }
    .products__item-middle{
      display: block;
      border-right: 1px solid #ececec;
      width: 210px;
      margin-left: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
      .products__item-author{
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .products__item-loves{
        position: relative;
        padding-left: 25px;
        font-size: 15px;
        color: #6f7d8d;
        &::before{
          content: '\f08a';
          position: absolute;
          font-family: 'icomoon';
          font-size: 15px;
          left: 0;
          color: #7f4ec2;
        }
      }
      .products__item-comments{
        position: relative;
        padding-left: 25px;
        font-size: 15px;
        color: #6f7d8d;
        margin-bottom: 5px;
        &::before{
          content: '\f0e5';
          position: absolute;
          font-family: 'icomoon';
          font-size: 15px;
          left: 0;
          color: #7f4ec2;

        }
      }
      .products__item-star{
        .rate-star{
          margin-right: 8px;
          top: 1px;
        }
        span{
          margin-right: auto;
          font-size: 15px;
          color: #6f7d8d;
          display: inline-block;

        }
      }
    }

    .products__item-info{
      width: 150px;
      .products__item-basket{
        display: block;
        font-size: 15px;
        margin: 0 auto;
        margin-bottom: 30px;
        @include f500;
      
      }
      .products__item-element{
        display: none;
      }
      .products__item-price{
        display: block;
        @include f700;
        margin: 0 auto;
        margin-top: 30px;
      }
    }
    .test{
      display: flex;
      // align-items: center;
    }
  }
}

// end category-page


// start single-product

.single-product{
  background-color: #eff1f5;
}
.single-product__inner{
  padding: 67px 0 0px;
  display: flex;
  justify-content: space-between;
}
.single-product__content{
  max-width: 750px;
  margin-right: 30px;
}
.single-product__images{
  width: 750px;
  height: 430px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #868686;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box{
  width: 100%;
  background-color: #fff;
  padding: 0 30px;

}
.single-product__link{
  margin: 0 auto;
  border-bottom: 1px solid #e8e8e8;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  font-size: 15px;
  line-height: 15px;
  @include f500; 
  a{
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 500;
    background-color: #fff;
    color: #7347c1;
    border-radius: 30px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    width: 190px;
    padding: 20px 0;
    text-align: center;
    transition: all .5s;
    position: relative;
    &::before{
      margin-right: 8px;
      font-family: 'icomoon';
      font-size: 15px;
    }
    & + a{
      margin-left: 30px;
    }
    &:hover{
      background-color: $blue;
      color: #fff;
    }
  }
}
.single-product__box{
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 40px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.footer__item-img{
  display: flex;
  align-items: center;
}
.single-product__share{
  margin-right: 20px;
  a{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 400;
    padding: 20px 0;
    font-size: 15px;
    color: #000;
    text-align: center;
    width: 190px;
    line-height: 15px;
    border-radius: 30px;
    &::before{
      margin-right: 8px;
      font-family: 'icomoon';
    }
  }
}

.tabs{
  display: flex;
  text-align: center;
  .tab{
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    font-size: 17px;
    color: #000;
    padding: 20px 0;
    cursor: pointer;
    & + .tab{
      border-left: 1px solid #e8e8e8;
    }
  }
  .tab.active{
    color: $blue;
    border-top: 2px solid $blue;
    border-bottom: none;
  }
}
.tab_content{
  background-color: #fff;
  padding: 80px 50px 80px 30px;
}
.single-product__tabs{
  margin-bottom: 120px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}
.tab-item{
  display: none;
  &:first-child{
    display: block;
  }
  &__title{
    font-size: 28px;
    color: #000;
    margin-bottom: 30px;
  }
  &__text{
    font-size: 16px;
    color: $text;
    margin-bottom: 60px;
  }
  &__name{
    font-size: 24px;
    color: #000;
    margin-bottom: 30px;
  }
}
.tab-item__list{
  margin-bottom: 60px;
  li{
    font-size: 16px;
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 400;
    color: $text;
    margin-bottom: 15px;
    &::before{
      margin-right: 8px;
      font-family: 'icomoon';
    }
  }
}
.tab-item__num{
  padding-left: 20px;
  margin-bottom: 60px;
  li{
    list-style: inherit;
    font-size: 16px;
  }
}
.tab-tem__image{
  width: 690px;
  height: 1000px;
  background-color: #c2c2c2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.more-info{
  background-color: #f6f7fb;
  padding-bottom: 100px;
  .title__inner{
    padding: 120px 0 50px;
    max-width: 100%;
  }
}
.more-info__box{
  display: flex;
  justify-content: space-between;
}
.single-product__aside{
  max-width: 360px;
  width: 100%;
}
.miniaside{
  width: 100%;
  padding: 10px 30px 40px;
  background-color: #fff;
  margin-bottom: 30px;
  .cart{
    &::before{
      color: $blue;
    }
  }
  .love{
    &::before{
      color: #7f4ec2;
    }
  }
  .comment{
    &::before{
      color: #58c9e9;
    }
  }
  &__row{
    border-bottom: 1px solid #ececec;
    padding: 30px 0;
    font-size: 16px;
    color: $text;
    font-family: 'Quicksand', sans-serif !important;
    &::before{
      font-family: 'icomoon';
      margin-right: 10px;
    }
    span{
      float: right;
      color: #000;
      @include f500;
    }
  }
  .produkts__item-star{
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
    color: $text;
  }
  .jq-ry-container{
    margin-right: 0;
  }
}
.miniaside__title{
  font-size: 20px;
  color: #000;
  text-align: center;
  border-bottom: 1px solid #ececec;
  padding: 25px 0;
}
.miniaside__info{
  margin-top: 20px;
  font-size: 15px;
  color: #333333;
  @include f500;
  span{
    color: $text;
    font-weight: 400;
  }
}
.miniaside__images{
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d3d3d3;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px auto;
}
.miniaside__thema{
  text-align: center;
  color: #000;
  @include f500;
  font-size: 18px;
  margin-bottom: 15px;
}
.miniaside__date{
  text-align: center;
  font-size: 15px;
  color: #7e7e7e;
  margin-bottom: 25px;
}
.miniaside{
  .footer__item-img{
    justify-content: center;
    margin-bottom: 25px;
  }
}
.miniaside__btn{
  display: flex;
  justify-content: space-between;
  a{
    color: #fff;
    font-size: 15px;
    width: 140px;
    text-align: center;
    background-color: $blue;
    border-radius: 30px;
    padding: 12px 0;
  }
  .miniaside__btn-color{
    background-color: #7347c1;
  }
}

// end single-product

// start login

.ready__login{
  font-size: 30px;
  @include f500;
  padding-top: 20px;
}

.login__inner,
.recover__inner,
.register__inner{
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  max-width: 560px;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 70px;
  margin-bottom: 120px;
  border-radius: 4px;
}
.login__title,
.register__title{
  padding-right: 60px;
  padding-left: 60px;
  font-size: 26px;
  color: #000;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}
.login__text,
.register__text{
  padding-right: 60px;
  padding-left: 60px;
  text-align: center;
  font-size: 16px;
  color: $text;
  padding-bottom: 30px;
  border-bottom: 1px solid #e8ebf0;
}
.login__form,
.recover__form,
.register__form{
  padding: 30px 50px 60px;
  .form__title{
    font-size: 16px;
    color: #000;
    @include f500;
    margin-bottom: 10px;
  }
  input{
    width: 100%;
    background-color: #f4f5f8;
    outline: none;
    border: none;
    padding: 20px;
    margin-bottom: 30px;
    &::placeholder{
      color: #898f96;
    }
  }
  .form__login-btn{
    display: block;
    width: 190px;
    background-color: $blue;
    color: #fff;
    padding: 15px 0;
    font-size: 15px;
    @include f500;
    line-height: 15px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 37px;
  }
  .input__check{
    width: 30px;
  }
  .login__link{
    display: flex;
    justify-content: space-between;
    .login__acc{
      font-size: 16px;
      color: #898f96;
      a{
        color: $blue;
      }
    }
  }
}

// end login

// start recover

.recover{
  &__text{
    padding: 60px 50px 30px;
    font-size: 16px;
    color: $text;
    border-bottom: 1px solid #e8ebf0;
  }
  &__form{
    .form__login-btn{
      margin-bottom: 0;
    }
  }
}


// end recover

// start error 404

.error{
  background-color: #fff;
}
.error__inner{
  text-align: center;
  background-color: #fff;
  padding: 120px 0 100px;
  .error__images{
    margin: 0 auto;
    width: 393px;
    height: 447px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
  }
  .error__title{
    font-size: 30px;
    color: #000;
    margin-bottom: 40px;
  }
  a{
    width: 190px;
    background-color: $blue;
    color: #fff;
    padding: 15px 0;
    font-size: 15px;
    @include f500;
    line-height: 15px;
    text-align: center;
    border-radius: 30px;
  }
}

// end error 404

// start terms
.terms__inner{
  background-color: #fff;
  margin-top: 60px;
  margin-bottom: 120px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  .terms__title{
    font-size: 24px;
    color: #000;
    border-bottom: 1px solid #e8ebf0;
    padding: 40px 30px 25px;
  }
  .terms__text{
    font-size: 16px;
    color: $text;
    padding: 25px 30px 20px;
    &:last-child{
      padding-bottom: 80px;
    }
  }
}

// end terms

// start contacts 

.ready__login.ready__contact{
  text-align: center;
  margin-bottom: 20px;
}
.ready__login-text{
  text-align: center;
  font-size: 20px;
}
.contacts{
  .title__inner{
    margin-bottom: 60px;
    margin-top: 120px;
  }
}
.contacts__box{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.contacts__item{
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  padding: 140px 60px 50px;
  width: 360px;
  background-color: #fff;
  text-align: center;
  font-size: 16px;
  color: $text;
  font-family: 'Quicksand', sans-serif !important;
  position: relative;
  &::before{
    content: '\f041';
    font-size: 48px;
    color: $blue;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 160px;
    font-family: 'icomoon';
  }
}
.contacts__item-phone{
  &::before{
    content: '\f095';
  }
}
.contacts__item-email{
  &::before{
    content: '\f003';
  }
}
.contacts__title{
  font-size: 20px;
  color: #000;
  @include f700;
  margin-bottom: 25px;
}

.contacts__form{
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 120px;
  &-input{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 38px;
    max-width: 750px;
    width: 100%;
  }
  input{
    padding: 0 40px;
    height: 45px;
    border: 1px solid #e8ebf0;
    font-size: 16px;
    color: #9e9e9e;
    width: 360px;
    margin-bottom: 30px;
  }
  textarea{
    width: 100%;
    padding: 0 40px;
    padding-top: 13px;
    height: 130px;
    border: 1px solid #e8ebf0;
    font-size: 16px;
    color: #9e9e9e;
    resize: none;
    margin-bottom: 30px;
  }
  a{
    background-color: $blue;
    color: #fff;
    border-radius: 30px;
    margin: 0 auto;
    width: 170px;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 60px;
  }
}
.contacts__form-title{
  font-size: 24px;
  color: #000;
  text-align: center;
  border-bottom: 1px solid #e8ebf0;
  @include f500;
  padding-top: 50px;
  padding-bottom: 30px;
}
.contacts__map{
  iframe{
  width: 100%;
  height: 400px;
  }
}

// end contacts 

// start how it works

.breadcrumbs__inner.breadcrumbs__inner-works{
  text-align: center;
  margin-top: 40px;
}

// end how it works

// start job

.job-top{
  background-color: #fff;
  padding: 100px 0;
}
.job-middle{
  padding: 100px 0;
  background-color: #eff1f5;
  .job__box a{
    background-color: #fff;
    color: $blue;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  }
}
.job-bottom{
  background-color: #fff;
  padding: 100px 0;
  .job__box a{
    background-color: #fff;
    color: $blue;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  }
}
.job__inner{
  display: flex;
  justify-content: space-between;
}
.job__images{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 458px;
  height: 352px;
}
.job__box{
  max-width: 460px;
  width: 100%;
  .job__title{
    font-size: 30px;
    color: #000;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .job__text{
    font-size: 16px;
    color: $text;
    padding-bottom: 25px;
  }
  a{
    background-color: $blue;
    color: #fff;
    border-radius: 30px;
    width: 170px;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    height: 50px;
  }
}

// end job

@import 'media';


